[user]
  name = Carolina Silva
  email = carolsilva.acfs@gmail.com
  signingkey = D466910F6C1955E3
[gpg]
  program = /usr/local/bin/gpg
[commit]
  gpgsign = true
[pull]
  rebase = false
[push]
  default = current
[color]
  ui = true
[core]
  pager = less
  editor = nvim
  excludesfile = ~/.gitignore
[filter "lfs"]
  process = git-lfs filter-process
  smudge = git-lfs smudge -- %f
  clean = git-lfs clean -- %f
  required = true
